div.container{
	width: 1100px;
	margin: 0 auto;
	background-color: aliceblue;
}
div.cen{
	width: 600px;
	margin: 0 auto;
	background-color: azure;
}
ul{
	display: block;
	width: 500px;
	margin: 0 auto;
}
li{
	list-style: none;
	display: block;
	margin: 0 auto;
	width: 280px;
}
a{
	text-decoration: none;
}
p{
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	text-align: center;
}