<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <link rel="stylesheet" href="/static/votetest/css/main.css">
</head>
<body>
    <div class="container">
        <h1>{{q.qname}}投票详情页面</h1>
        <h3>总共参加人次：{{q.qpoll}}</h3>
        <ul>
            {% for c in q.choice_set.all %}
                <li>{{c.cname}}：{{c.cpoll}}票</li>
            {% empty %}
                <h4>本投票还未开始!</h4>
            {% endfor %}
        </ul>
        {# <a href="/votetest/">返回投票中心</a> #}
        <a href="{% url 'votetest:index' %}">返回投票中心</a>
    </div>
</body>
</html>