<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票中心</title>
    <link rel="stylesheet" href="/static/votetest/css/main.css">
</head>
<body>
    <div class="container">
		<p>欢迎来到小飞虎投票中心</p>
		<lu>
			{% for q in qs %}
				{# <li><a href="vote/{{q.id}}/">{{q.qname}}</a></li> #}
				<li>
					<span>项目{{forloop.counter}}：</span>
					<a href="{% url 'votetest:vote' q.id %}">{{q.qname}}</a> &nbsp;
					<a href="{% url 'votetest:delete' q.id %}">删除</a> &nbsp;
					<a href="{% url 'votetest:edit' q.id %}">编辑</a>
				</li>
			{% empty %}
				<h4>暂时还没投票活动，敬请期待！</h4>
			{% endfor %}
			<a href="{% url 'votetest:add' %}">添加</a>
		</lu>
	</div>
</body>
</html>